---
const name = "nelson";
const items = ["Dog", "Cat", "Platypus"];
const visible = false;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">blog</a>

		<h1>hello {name}</h1>
		<h1 class={name}>test class</h1>

		<button id="button">Click Me</button>
		<ul>
			{items.map((item) => <li>{item}</li>)}
		</ul>
		{visible && <p>I'm visible!</p>}

		{visible ? <p>I'm visible!</p> : <p>I'm not visible!</p>}
	</body>
</html>
<script>
	function handleClick() {
		console.log("button clicked!");
	}
	document.getElementById("button").addEventListener("click", handleClick);
</script>
